
*{
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
 }


.logo{
    width: 268px;
    margin-left:200px;
}

.main-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    height: 70px;
    align-items: center;
    background-color: white;
}



li{
    list-style: none;
}

a{font-weight:300;
    text-decoration: none;
    color: ##7b7878;
    font: size 15px;}

ul{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-right: 200px;
}

a:hover{
    color: #00b39b;
}
    



.body{
    margin-left: 5%;
    margin-right: 5%;

}


.banner{
    text-align: center;
    margin-top: 30px;
    /* margin-left: 5%;
    margin-right: 5%; */

}
.icon{
    width: 40px;
   
    
}
.icons{
    margin-right: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
.logoText{
    margin-left: 200px;
}

::selection {
    background: #00b39b;
    color: #fff;
    text-shadow: none;}
/* .square-1-1{
    display:inline-block;
    flex-direction: column;
    padding: 33px;
    margin: 30px;} */




/* .square-2-2{
    display:inline-block;
    flex-direction: column;
    padding: 33px;
    margin: 30px;
} */


.title-box{
    color: white;
    font-weight: 300;
    font-size: 1.6rem;
}

.text{
    display: flex;
    flex-wrap: wrap;
    color: #ababab;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    justify-content: center;
    /* margin-left: 10px;
    /* margin-left: 10px; */
}

.paragraph{
    width: 474px;
    height: 160px;
    margin-bottom: 12px;
    margin-left: 37px;
    margin-right: 34px;
    color: #ababab;
    font-weight: 300;
    line-height: 27px;
}

.text-box{
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
    margin-bottom: 35%;
}

#country
    {background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: 200;
    font-size: 19px;
    text-decoration: underline;
    /* margin-bottom: 5%; */
}






.container{
    display: flex;
    justify-content:center;
    /* justify-content:space-between; */
    flex-wrap: wrap;
    padding: 10px;
    }




.square-1{
    /* display:inline-block; */
    /* flex-direction: column; */
    
    width: 280px;
    height: 320px;
    background-color: #00ccb1;
    border-radius: 10px;   
    padding: 20px;
    margin: 10px;}

.square-2{
    
    width: 280px;
    height: 320px;
    background-color:#3d83df;
    border-radius: 10px; 
    padding: 20px;  
    margin: 10px;
}


    .square-3{
        
        width: 280px;
        height: 320px;
        background-color:#1b2734;
        border-radius: 10px;   
        padding: 20px;
        margin: 10px;

    }

    .container-2{
    display: flex;  
    padding-top: 16px;
    justify-content: space-between;
    align-items: center;
    }   

    .logoIcon{
        height: 20px;
        margin: 10px;
        opacity: 0.3;

    }
    svg{
        height: 20px;
        opacity: 0.3;
    }
    .logoIcon:hover{
        opacity: 1;

    }
    svg:hover{
        opacity: 1;
    }






    h3{font-weight:lighter;
    color: #00b39b;
    font-size: 1.6rem;
    letter-spacing: 2px;}
    h2{
        font-weight:lighter;
        color: #00b39b;
        font-size: 2rem;
        letter-spacing: 2px;
        text-align: center;
        display: block;
    }


    .container-3{
        /* background-color: #e5faf8;
        height: 580px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: -5px;
        justify-content: space-around; */
        background-color: #e5faf8;
        height: 582px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    

    .box-1{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 49%;
        margin-left: 200px;
        align-self: flex-end;
        }
    
    .box-2{
        display: flex;
        /* width: 50%; */
        /* PADDING: 10PX; */
        flex-wrap: wrap;
        /* margin-right: 200px; */
        justify-content: flex-start;
    }

    .sub-box{    
        width: 230px;
        height: 250px;
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        margin: 8px;
        padding: 0px;
}
    
        


    .item{
        width: 100px;
    }

    .icon-item{
        width:35px ;
    }


    .nejma{

    }
.par-sub-box{
    font-weight: 400;
    color: #747474;
    font-size: 0.7rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-sub-box{
    width: 35px;
    margin: 15px;

}

.title-sub-box{
font-size: 1.4rem;
}
.par-box-1{
    font-size: .875em;
    color: #747474;
    font-weight: 300;
    margin-right: 90px;
}

.title-box-1{
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
}



.container-4 { display: flex;
    justify-content: center;
text-align: center;}

.visit img{
    width: 311px;
    border-radius: 10px 10px 0px 0px;
}
.white-box{
    display: flex;
    background-color: #ffffff;
    width: 309px;
    height: 70px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    border: solid 1px #ededed;
    border-top: 0px;}

    button{
        background-color: #3d83df;
        border: none;
        border-radius: 4px;
        color: white;
        height: 30px;
        width: 103px;
        font-size: 0.7rem;
    }
    h4{
        color: #747474;
        font-weight: 300;
        font-size: 1.2rem;
    }


    .visit:hover{ box-shadow: 14px 12px 20px #cccaca;}


    .container-5{
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
        margin-right: 141px;
        justify-content: center;
    }

    .visit{
        margin: 10px;
    }

    .container-6{
        display: flex;
    justify-content: center;
    text-align: center;
    }

    .container-6 button{
        width: 210px;
        height: 40px;
    }
    .container-6 h2{
        color: #747474;
        font-family: Work Sans,Arial,sans-serif;
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 100px;
    }

    button:hover{
        background-color: #075bc8;
    }

  


    footer{
        border-top: 1px solid #eef2f2;
        width: 100%;
        margin-top: 70px;
    }

    footer p{
        font-size: 12px;
        color: #747474;
        font-weight: 300;
        text-align: center;
    }

    footer a{
        font-size: 12px;
        color: #075bc8;
        font-weight: 400;
        text-align: center;
    }

    /* a:visited {
        color:#7b7878;
        text-decoration-color: transparent;} */
        
      .square-1:hover{
        background-color: #38d0b9;
      }
      .square-2:hover{
        background-color: #5491e0;
      }

      .square-3:hover{
        background-color: #323d49;
      }